@if (!readonly) {
  <div class="raw-toolbar">
    <div class="toolbar-group">
      <button class="tb-btn" (click)="heading(1)" title="Heading 1">H1</button>
      <button class="tb-btn" (click)="heading(2)" title="Heading 2">H2</button>
      <button class="tb-btn" (click)="heading(3)" title="Heading 3">H3</button>
    </div>
    <div class="toolbar-sep"></div>
    <div class="toolbar-group">
      <button class="tb-btn" (click)="bold()" title="Bold (wrap selection)">
        <ng-icon name="heroBold" size="16"></ng-icon>
      </button>
      <button class="tb-btn" (click)="italic()" title="Italic (wrap selection)">
        <ng-icon name="heroItalic" size="16"></ng-icon>
      </button>
      <button class="tb-btn" (click)="strikethrough()" title="Strikethrough (wrap selection)">
        <ng-icon name="heroStrikethrough" size="16"></ng-icon>
      </button>
      <button class="tb-btn" (click)="inlineCode()" title="Inline code (wrap selection)">
        <ng-icon name="heroCodeBracket" size="16"></ng-icon>
      </button>
    </div>
    <div class="toolbar-sep"></div>
    <div class="toolbar-group">
      <button class="tb-btn" (click)="link()" title="Link">
        <ng-icon name="heroLink" size="16"></ng-icon>
      </button>
      <button class="tb-btn" (click)="image()" title="Image">
        <ng-icon name="heroPhoto" size="16"></ng-icon>
      </button>
    </div>
    <div class="toolbar-sep"></div>
    <div class="toolbar-group">
      <button class="tb-btn" (click)="bulletList()" title="Bullet list">
        <ng-icon name="heroListBullet" size="16"></ng-icon>
      </button>
      <button class="tb-btn" (click)="numberedList()" title="Numbered list">
        <ng-icon name="heroNumberedList" size="16"></ng-icon>
      </button>
      <button class="tb-btn" (click)="blockquote()" title="Blockquote">
        <ng-icon name="heroChatBubbleLeft" size="16"></ng-icon>
      </button>
    </div>
    <div class="toolbar-sep"></div>
    <div class="toolbar-group">
      <button class="tb-btn" (click)="codeBlock()" title="Code block">
        <ng-icon name="heroCommandLine" size="16"></ng-icon>
      </button>
      <button class="tb-btn" (click)="horizontalRule()" title="Horizontal rule">
        <ng-icon name="heroMinus" size="16"></ng-icon>
      </button>
    </div>
  </div>
}
<div #editorHost class="raw-editor-host"></div>
