{% load render_bundle from webpack_loader %}
<!DOCTYPE html>
<html lang="en" class="h-full">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Djancloud{% endblock %}</title>
    {% render_bundle 'common' 'css' %}
    {% block extra_head %}{% endblock %}
</head>
<body class="h-full bg-gray-50 text-gray-800">
    {% block body %}{% endblock %}
    {% render_bundle 'common' 'js' %}
    {% block extra_js %}{% endblock %}
</body>
</html>
